Repository Prumme/Revision-AI, pull requests merged in 2025-06, with the labels that each got.

#47 46 créer le debut du cluster kubernetes
  .gitignore
  .idea/workspace.xml
  k8s.README.md
  k8s/apps/api.deployement.yaml
  k8s/apps/api.service.yaml
  k8s/apps/file-parser.deployement.yml
  k8s/apps/quiz-generator.deployement.yml
  k8s/apps/quiz-generator.service-monitor.yaml
  k8s/apps/quiz-generator.service.yml
  k8s/configs/env-config-map.yml
  k8s/rabbitmq/rabbitmq.cluster.yaml
  k8s/rabbitmq/rabbitmq.service-monitor.yaml
  k8s/secrets/env-secret.yml.example
  local.kind.config.yaml
  scripts/build-docker-image.sh
  scripts/load-images-to-kind.sh
  services/quiz-generator/package.json
Labels: 05 :paperclip: documentation, 07 ☁ Infrastructure et déploiement

#55 52 modification des informations utilisateurs
  frontend/src/App.vue
  frontend/src/components/ConfirmDialog.vue
  frontend/src/components/UserSidenav.vue
  frontend/src/components/cards/DeleteAccountCard.vue
  frontend/src/components/cards/PasswordChangeCard.vue
  frontend/src/components/inputs/InputComponent.vue
  frontend/src/components/profile/avatar/AvatarComponent.vue
  frontend/src/config/api.config.ts
  frontend/src/services/api.service.ts
  frontend/src/stores/dialog.ts
  frontend/src/views/Profile/ProfilePage.vue
  services/api/src/domain/entities/user.entity.ts
  services/api/src/infrastructure/mongo/user/user.repository.ts
  services/api/src/infrastructure/mongo/user/user.schema.ts
  services/api/src/infrastructure/resend/mail.service.ts
  services/api/src/infrastructure/resend/templates/delete-account.ts
  services/api/src/infrastructure/resend/types/emails-params.ts
  services/api/src/modules/user/dto/update-password.dto.ts
  services/api/src/modules/user/user.controller.ts
  services/api/src/modules/user/user.module.ts
  services/api/src/modules/user/user.service.ts
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend, 10 ⚖️ RGPD

#56 25 billing et abbonement
  .env.example
  .gitignore
  .idea/workspace.xml
  docker-compose.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/inputs/StripePayementMethodInput.vue
  frontend/src/router/index.ts
  k8s/secrets/.gitignore
  package-lock.json
  services/api/Dockerfile
  services/api/package-lock.json
  services/api/package.json
  services/api/src/app.module.ts
  services/api/src/domain/entities/customer.entity.ts
  services/api/src/domain/entities/user.entity.ts
  services/api/src/domain/errors/SubscriptionError.ts
  services/api/src/domain/repositories/customer.repository.ts
  services/api/src/domain/services/MailerService.ts
  services/api/src/domain/services/SubscriptionProvider.ts
  services/api/src/domain/usecases/IUseCase.ts
  services/api/src/domain/usecases/SubscriptionUsecases.ts
  services/api/src/domain/value-objects/subscriptionTier.ts
  services/api/src/infrastructure/brevo/BrevoMailerService.ts
  services/api/src/infrastructure/mongo/user/customer.repository.ts
  services/api/src/infrastructure/mongo/user/user.schema.ts
  services/api/src/infrastructure/stripe/StripeSubscriptionDict.ts
  services/api/src/infrastructure/stripe/StripeSubscriptionProvider.ts
  services/api/src/main.ts
  services/api/src/modules/auth/auth.module.ts
  services/api/src/modules/auth/auth.service.ts
  services/api/src/modules/subscription/dto/customer.dto.ts
  services/api/src/modules/subscription/dto/subscribe.dto.ts
  services/api/src/modules/subscription/stripe.controller.ts
  services/api/src/modules/subscription/subscription.controller.ts
  services/api/src/modules/subscription/subscription.module.ts
Labels: 01 :zap: feature, 04 ⚙️ backend

#66 🐛 fix avatar update in store
  frontend/src/components/profile/ProfilePicture.vue
  frontend/src/stores/user.ts
Labels: 02 :bug: bug, 03 🎨 frontend
