Repository Prumme/Revision-AI, pull requests merged in 2025-07, with the labels that each got.

#86 Fix multiple call on subscription-product
  frontend/src/components/checkout/PlanSelectionStep.vue
  frontend/src/stores/user.ts
  frontend/src/views/CheckoutView.vue
Labels: 02 :bug: bug, 03 🎨 frontend

#79 64 interface backoffice
  .idea/workspace.xml
  frontend/src/components/admin/UserBillingInfo.vue
  frontend/src/components/admin/UserDocuments.vue
  frontend/src/components/admin/UserPersonalInfo.vue
  frontend/src/components/admin/UserQuizzes.vue
  frontend/src/components/buttons/ButtonComponent.vue
  frontend/src/router/index.ts
  frontend/src/services/admin.service.ts
  frontend/src/types/document.ts
  frontend/src/types/invoice.ts
  frontend/src/types/quiz.ts
  frontend/src/types/user.ts
  frontend/src/views/admin/AdminUserDetailView.vue
  frontend/src/views/admin/AdminUserView.vue
  services/api/package-lock.json
  services/api/src/common/types/invoice.ts
  services/api/src/domain/services/SubscriptionProvider.ts
  services/api/src/infrastructure/stripe/StripeSubscriptionProvider.ts
  services/api/src/modules/subscription/subscription.controller.ts
  services/api/src/modules/subscription/subscription.module.ts
  services/api/src/modules/user/user.controller.ts
  services/api/src/modules/user/user.module.ts
  services/api/src/modules/user/user.service.ts
  services/api/tsconfig.json
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend, 10 ⚖️ RGPD

#78 72 quiz amélioration du workflow de généartion
  frontend/src/components/dropzone/DropzoneComponent.vue
  frontend/src/views/quiz/QuizForm.vue
  k8s.README.md
  package-lock.json
  package.json
  services/api/package-lock.json
  services/api/package.json
  services/api/src/domain/entities/cached-file-parsed.entity.ts
  services/api/src/domain/entities/quiz-generation-job.entity.ts
  services/api/src/domain/entities/quiz.entity.ts
  services/api/src/domain/repositories/cached-file-parsed.repository.ts
  services/api/src/domain/repositories/quiz-generation-job.repository.ts
  services/api/src/domain/repositories/quiz.repository.ts
  services/api/src/domain/services/FileService.ts
  services/api/src/domain/services/QueueProvider.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.spec.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.ts
  services/api/src/entities/session.entity.ts
  services/api/src/infrastructure/mongo/quiz/cached-file-parsed.repository.ts
  services/api/src/infrastructure/mongo/quiz/cached-file-parsed.schema.ts
  services/api/src/infrastructure/mongo/quiz/quiz-generation-job.repository.ts
  services/api/src/infrastructure/mongo/quiz/quiz-generation-job.schema.ts
  services/api/src/infrastructure/mongo/quiz/quiz.repository.ts
  services/api/src/infrastructure/mongo/user/user.repository.ts
  services/api/src/infrastructure/queue/RabbitMQProvider.ts
  services/api/src/infrastructure/queue/consumers/fileParsedQueueConsumer.ts
  services/api/src/infrastructure/queue/consumers/quizGenerationQueueConsumer.ts
  services/api/src/infrastructure/queue/createQueueConsumer.ts
  services/api/src/infrastructure/queue/createQueueProvider.ts
  services/api/src/infrastructure/queue/queueProvider.ts
  services/api/src/infrastructure/queue/quizGeneratedConsumer.ts
  services/api/src/main.ts
  services/api/src/modules/minio/minio.service.ts
  services/api/src/modules/quiz/dto/create-quiz.dto.ts
  services/api/src/modules/quiz/quiz.controller.ts
  services/api/src/modules/quiz/quiz.module.ts
  services/api/src/modules/quiz/quiz.service.ts
  services/api/src/modules/session/session.controller.ts
  services/api/src/types/FileContentDTO.ts
  services/api/src/types/FileToParseDTO.ts
  services/api/src/types/QuizGeneratedDTO.ts
  services/api/src/types/QuizGenerationDTO.ts
  services/file-parser/src/infrastructure/broker/messages/fileUploadedEvent.ts
  services/file-parser/src/infrastructure/broker/mqConsumer.ts
  services/file-parser/src/infrastructure/broker/mqProvider.ts
  services/quiz-generator/package.json
  services/quiz-generator/src/app/services/IQuizIAAgent.ts
  services/quiz-generator/src/app/usecases/GenerateQuizFromFileContentUseCase.test.ts
  services/quiz-generator/src/app/usecases/GenerateQuizFromFileContentUseCase.ts
  services/quiz-generator/src/infrastructure/api/quizApi.ts
  services/quiz-generator/src/infrastructure/broker/messages/fileParsedEvent.ts
  services/quiz-generator/src/infrastructure/broker/messages/quizGenerationMessage.ts
  services/quiz-generator/src/infrastructure/broker/mqConsumer.ts
  services/quiz-generator/src/infrastructure/broker/mqProvider.ts
  services/quiz-generator/src/infrastructure/cli/cliEntrypoint.ts
  services/quiz-generator/src/infrastructure/express/server.ts
  services/quiz-generator/src/infrastructure/services/ScalewayQuizIAAgent.test.ts
  services/quiz-generator/src/infrastructure/services/ScalewayQuizIAAgent.ts
Labels: 01 :zap: feature, 04 ⚙️ backend, 06 🧪 tests

#88 87 afficher les factures du customer dans son profil
  frontend/src/components/admin/UserBillingInfo.vue
  frontend/src/components/invoices/InvoiceList.vue
  frontend/src/services/admin.service.ts
  frontend/src/services/user.service.ts
  frontend/src/views/SubscriptionView.vue
  frontend/src/views/admin/AdminUserDetailView.vue
Labels: 01 :zap: feature, 03 🎨 frontend

#100 feature(statistics): add kpi logic in the application
  frontend/src/assets/images/illustration_dashboard.png
  frontend/src/components/cards/KPICard.vue
  frontend/src/components/cards/MediaList.vue
  frontend/src/components/cards/QuizCard.vue
  frontend/src/components/common/TabNavigation.vue
  frontend/src/components/draggables/QuestionDraggable.vue
  frontend/src/components/dropzone/DropzoneComponent.vue
  frontend/src/components/icons/AutoFileIcon.vue
  frontend/src/components/layouts/MotionLayout.vue
  frontend/src/composables/useQuizDetails.ts
  frontend/src/services/kpi.service.ts
  frontend/src/services/quiz.service.ts
  frontend/src/stores/user.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/quiz/QuizDetails.vue
  frontend/src/views/quiz/QuizList.vue
  services/api/src/app.module.ts
  services/api/src/domain/entities/kpi.entity.ts
  services/api/src/domain/entities/session.entity.ts
  services/api/src/domain/repositories/kpi.repository.ts
  services/api/src/infrastructure/mongo/kpi/kpi.repository.ts
  services/api/src/infrastructure/mongo/kpi/kpi.schema.ts
  services/api/src/infrastructure/mongo/quiz/quiz.repository.ts
  services/api/src/infrastructure/mongo/session/session.repository.ts
  services/api/src/infrastructure/mongo/session/session.schema.ts
  services/api/src/modules/kpi/kpi.controller.ts
  services/api/src/modules/kpi/kpi.module.ts
  services/api/src/modules/kpi/kpi.service.ts
  services/api/src/modules/quiz/quiz.controller.ts
  services/api/src/modules/quiz/quiz.service.ts
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend

#104 98 intégré matamo sur la génération des quiz et les sessions
  .github/workflows/deploy-on-k8s.yml
  .gitignore
  config.yaml
  docker-compose.yaml
  frontend/src/components/buttons/ButtonComponent.vue
  frontend/src/components/cards/BillingPlanCard.vue
  frontend/src/components/checkout/CheckoutPlanCard.vue
  frontend/src/components/checkout/OrderSummaryStep.vue
  frontend/src/components/dropzone/DropzoneComponent.vue
  frontend/src/components/landing/LandingHero.vue
  frontend/src/main.ts
  frontend/src/views/CheckoutView.vue
  frontend/src/views/authentication/RegisterPage.vue
  frontend/src/views/quiz/QuizForm.vue
  k8s/analytics/matomo.deployement.yaml
  k8s/analytics/matomo.service.yaml
  k8s/apps/api.deployement.yaml
  k8s/local-api-ingress.yaml
  k8s/secrets/env-secret.yml.example
  local.kind.config.yaml
  scripts/full-setup-cluster.sh
  scripts/install-helm-dependices.sh
Labels: 01 :zap: feature, 04 ⚙️ backend, 07 ☁ Infrastructure et déploiement

#110 99 ajouter authenticator google 2af
  frontend/src/components/cards/Active2FACard.vue
  frontend/src/stores/user.ts
  frontend/src/types/auth.ts
  frontend/src/types/user.ts
  frontend/src/views/Profile/ProfilePage.vue
  frontend/src/views/authentication/LoginPage.vue
  services/api/package-lock.json
  services/api/package.json
  services/api/src/domain/entities/user.entity.ts
  services/api/src/domain/services/TOTPService.ts
  services/api/src/domain/value-objects/TOTPSecret.ts
  services/api/src/infrastructure/2AF/SpeekeasyTOTPService.ts
  services/api/src/infrastructure/mongo/user/user.repository.ts
  services/api/src/infrastructure/mongo/user/user.schema.ts
  services/api/src/infrastructure/resend/mail.service.ts
  services/api/src/modules/auth/auth.controller.spec.ts
  services/api/src/modules/auth/auth.controller.ts
  services/api/src/modules/auth/auth.module.ts
  services/api/src/modules/auth/auth.service.spec.ts
  services/api/src/modules/auth/auth.service.ts
  services/api/src/modules/auth/dto/login.dto.ts
  services/api/src/modules/user/dto/update-user.dto.ts
  services/api/tempServer.js
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend

#114 111 quiz publiques
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/MediaList.vue
  frontend/src/components/common/TabNavigation.vue
  frontend/src/components/dropzone/DropzoneComponent.vue
  frontend/src/components/tables/DataTable.vue
  frontend/src/components/ui/PaginatorComponent.vue
  frontend/src/composables/useQuizDetails.ts
  frontend/src/router/index.ts
  frontend/src/services/quiz.service.ts
  frontend/src/stores/quizLoading.ts
  frontend/src/types/datatable.ts
  frontend/src/utils/quizMediaToContentMedia.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/quiz/QuizDetails.vue
  frontend/src/views/quiz/QuizForm.vue
  frontend/src/views/quiz/QuizList.vue
  services/api/src/domain/repositories/quiz.repository.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.spec.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.ts
  services/api/src/infrastructure/mongo/quiz/quiz.repository.ts
  services/api/src/modules/quiz/dto/create-quiz.dto.ts
  services/api/src/modules/quiz/dto/update-quiz.dto.ts
  services/api/src/modules/quiz/quiz.controller.ts
  services/api/src/modules/quiz/quiz.service.ts
  services/api/src/modules/user/user.service.ts
Labels: 02 :bug: bug, 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend

#109 page profile et signalement des user
  frontend/src/components/UserSidenav.vue
  frontend/src/components/cards/QuizCard.vue
  frontend/src/components/icons/AutoFileIcon.vue
  frontend/src/helpers/dateFormat.ts
  frontend/src/helpers/quizCategory.ts
  frontend/src/router/index.ts
  frontend/src/stores/user.ts
  frontend/src/types/quiz.ts
  frontend/src/types/user.ts
  frontend/src/utils/confetti.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/Profile/PublicProfilePage.vue
  frontend/src/views/authentication/RegisterPage.vue
  frontend/src/views/quiz/QuizList.vue
  services/api/src/domain/entities/quiz.entity.ts
  services/api/src/domain/repositories/user.repository.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.spec.ts
  services/api/src/domain/usecases/QuizGenerationUseCase.ts
  services/api/src/infrastructure/mongo/quiz/quiz.repository.ts
  services/api/src/infrastructure/mongo/quiz/quiz.schema.ts
  services/api/src/infrastructure/mongo/user/user.repository.ts
  services/api/src/infrastructure/mongo/user/user.schema.ts
  services/api/src/modules/auth/auth.service.ts
  services/api/src/modules/quiz/dto/create-quiz.dto.ts
  services/api/src/modules/quiz/quiz.service.ts
  services/api/src/modules/user/user.controller.ts
  services/api/src/modules/user/user.module.ts
  services/api/src/modules/user/user.service.ts
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend

#118 refacto sessions and add units tests
  frontend/src/composables/useQuizDetails.ts
  frontend/src/views/quiz/QuizDetails.vue
  services/api/src/domain/entities/session.entity.spec.ts
  services/api/src/domain/entities/session.entity.ts
  services/api/src/domain/repositories/session.repository.ts
  services/api/src/entities/session.entity.ts
  services/api/src/infrastructure/mongo/session/session.repository.ts
  services/api/src/infrastructure/mongo/session/session.schema.ts
  services/api/src/modules/session/exceptions/session-access-denied.ts
  services/api/src/modules/session/session.controller.ts
  services/api/src/modules/session/session.module.ts
  services/api/src/modules/session/session.service.ts
  services/api/src/modules/session/sessioon.service.spec.ts
Labels: 02 :bug: bug, 04 ⚙️ backend, 03 🎨 frontend, 06 🧪 tests

#119 113 probleme kpi fix part 1
  frontend/src/views/DashboardView.vue
  services/api/src/domain/policies/SubscriptionPolicy.ts
  services/api/src/domain/repositories/kpi.repository.ts
  services/api/src/infrastructure/mongo/kpi/kpi.repository.ts
  services/api/src/modules/kpi/kpi.module.ts
  services/api/src/modules/kpi/kpi.service.ts
  services/quiz-generator/src/infrastructure/services/LangChainQuizIAAgent.ts
Labels: 02 :bug: bug, 04 ⚙️ backend

#125 add more category
  frontend/src/helpers/quizCategory.ts
  frontend/src/services/quiz.service.ts
Labels: 03 🎨 frontend

#124 mail complete
  frontend/src/components/ConfirmDialog.vue
  frontend/src/components/admin/BlockUserDialog.vue
  frontend/src/components/admin/UserPersonalInfo.vue
  frontend/src/router/index.ts
  frontend/src/services/admin.service.ts
  frontend/src/stores/dialog.ts
  frontend/src/types/user.ts
  frontend/src/views/admin/AdminUserDetailView.vue
  frontend/src/views/authentication/LoginPage.vue
  services/api/src/domain/entities/user.entity.ts
  services/api/src/domain/services/MailerService.ts
  services/api/src/domain/usecases/SubscriptionUsecases.ts
  services/api/src/infrastructure/brevo/BrevoMailerService.ts
  services/api/src/infrastructure/mongo/user/user.repository.ts
  services/api/src/infrastructure/mongo/user/user.schema.ts
  services/api/src/infrastructure/resend/mail.service.ts
  services/api/src/infrastructure/resend/templates/ask-new-username.ts
  services/api/src/infrastructure/resend/templates/unblock-user.ts
  services/api/src/infrastructure/resend/types/emails-params.ts
  services/api/src/modules/auth/auth.service.ts
  services/api/src/modules/subscription/stripe.controller.ts
  services/api/src/modules/subscription/subscription.module.ts
  services/api/src/modules/user/user.controller.ts
  services/api/src/modules/user/user.module.ts
  services/api/src/modules/user/user.service.ts
  services/api/src/types/express.d.ts
Labels: 01 :zap: feature, 04 ⚙️ backend, 03 🎨 frontend

#128 Some/adjust
  frontend/src/components/draggables/QuestionDraggable.vue
  frontend/src/composables/useQuizDetails.ts
  frontend/src/stores/user.ts
  frontend/src/views/DashboardView.vue
  frontend/src/views/admin/AdminUserDetailView.vue
  frontend/src/views/quiz/QuizDetails.vue
  frontend/src/views/quiz/QuizList.vue
  services/api/src/modules/kpi/kpi.service.ts
Labels: 02 :bug: bug, 03 🎨 frontend

#133 fix quiz load
  frontend/src/stores/quizLoading.ts
Labels: 02 :bug: bug

#132 fix quiz order
  services/api/src/infrastructure/mongo/quiz/quiz.repository.ts
  services/api/src/modules/quiz/quiz.controller.ts
Labels: 04 ⚙️ backend

#135 fix cors
  k8s/secrets/env-secret.yml.example
  services/api/src/main.ts
Labels: 04 ⚙️ backend

#138 uniform cards
  frontend/src/components/cards/BillingAddressComponent.vue
  frontend/src/components/cards/BillingPlanCard.vue
  frontend/src/components/cards/CardComponent.vue
  frontend/src/components/forms/cards/FormCard.vue
  frontend/src/views/Profile/PublicProfilePage.vue
Labels: 02 :bug: bug, 03 🎨 frontend

#154 fix error empty file
  frontend/src/views/quiz/QuizForm.vue
Labels: 02 :bug: bug, 03 🎨 frontend

#153 fix cookie consent
  frontend/src/components/landing/LandingFooter.vue
  frontend/src/main.ts
  frontend/src/plugins/CookieConsentVue.ts
Labels: 02 :bug: bug, 03 🎨 frontend

#155 fix-landing btn s'inscrire
  frontend/src/components/buttons/ButtonComponent.vue
  frontend/src/components/landing/LandingCTA.vue
  frontend/src/components/landing/LandingHero.vue
  frontend/src/components/landing/LandingPricing.vue
Labels: 02 :bug: bug, 03 🎨 frontend
